{
  "extends": ["standard", "prettier", "prettier/standard"],
  "plugins": ["prettier", "standard"],
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "prettier/prettier": 2
  }
}
